//**
// Project Settings
//**

// Add custom fonts or remove if using third party like typekit/myfonts
@font-face {
    font-family: 'CustomFontName';
    src: url('../fonts/customfontname.woff2') format('woff2'),
         url('../fonts/customfontname.woff') format('woff'),
         url('../fonts/customfontname.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

// Consistent settings
$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$font-size: 95%; // Global default font size
$padding: 40px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.
$system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; // System fonts

// Responsive breakpoints
$small-break: 46rem;
$big-break: 61rem;
$xl-break: 75rem;

$breakpoints:
  sm 48em 46rem,
  md 62em 61rem,
  lg 79em 75rem !default;
$flexboxgrid-max-width: 1200px !default;

$mob-padding:40px 0;
$small-padding:60px 0;
$medium-padding:80px 0;
$main-padding:120px 0; 

// Fonts
$sans-serif-primary: "museo-sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans-serif-secondary: "museo-sans-rounded", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Better default colors
$aqua:  #7fdbff;
$blue:  #0074d9;
$navy:  #001f3f;
$teal:  #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime:  #01ff70;
$red: red;
$orange: #333333;
$grey: #777777;
$silver: #aaaaaa;
$white: #ffffff;

// Project color variables
$primary-color: #da1f26;
$secondary-color: #fbaf17;
$tertiary-color: #F2F2F2;

$danger-color: $red; // Bad color for errors, validation etc.
$success-color: $green; // Good color for success etc.
$info-color: $blue; // Good color for success etc.
$warning-color: $orange; // Good color for success etc.
$subtle-color: $grey; // Subtle color for subtle text
