//**
// Typography
//**

body {
  font-family: $sans-serif-secondary;
  font-size: $font-size;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  	font-family: $sans-serif-primary;
  	font-style:normal;
  	font-weight:bold;	
	margin:0 0 25px;
	line-height:1.4;
	letter-spacing: -0.05em;
	&.thin {
		font-weight:300;
	}
}

// BASE SIZES

h1 {
	font-size:5rem;
	&.super {
		font-size:12em;
		letter-spacing: -0.07em;
	}
}

h2 {
	font-size:4rem;
}

h3 {
	font-size:3rem;
}

h4 {
	font-size:2rem;
}

h5 {
	font-size:1.5rem;
}

p {
  margin: 0 0 $padding/2;
  &.large {
	  font-size:1.4em;
  }
}

a {
  color: $primary-color;
  
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

pre {
  background: #222;
  color: #fff;
  display: block;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  margin: 0 0 $padding/2;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
}

code {
  border-radius: 5px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, .1);
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  padding: 2px 10px;
  word-break: break-all;
  word-wrap: break-word;
}

blockquote {
  border-left: 2px solid $primary-color;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 $padding/2;
  padding-left: 25px;
}


// RESPONSIVE

@include responsive($big-break) {
	body {
		font-size: 15px;
	}
		
	h1 {
		font-size:3rem;
	}
	
	h2 {
		font-size:2.5rem;
	}
	
	h3 {
		font-size:2rem;
	}
	
	h4 {
		font-size:1.5rem;
	}
	
	h5 {
		font-size:1.4rem;
	}
	
	h4,h5,p,ul,ol {
		font-size: 15px;
	}
}